footer
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin='anonymous')
  nav.navbar.navbar-inverse.navbar-fixed-bottom
    .container
      img(src='./icons/home.png', height='50px', width='50px')
      img(src='./icons/add.png', height='50px', width='50px')
      img(src='./icons/profile.png', height='50px', width='50px')
