footer
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin='anonymous')
  .navbar
    .container
      a(href='./home')
        img(src='../icons/home.png', height='40px', width='40px')
      a(href='./post')
        img(src='../icons/add.png', height='40px', width='40px')
      a(href='./logout')
        img(src='../icons/exit2.png', height='40px', width='40px')
