<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ePic Homepage!</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    <link rel="stylesheet" type="text/css" href="../public/home.css">
  </head>




  <body>
    <span id="logo">
          <img src="../icons/logo.png" height="200px" width="200px"/>
    </span>

    <div>
           <div id="profile">
              <img src="../photos/sawsry.JPG" height="300px" width="300px"/>
           </div>
     </div>


    <% for(var i=0;i < anythingWeWant.length;i++){ %>
      <div class ='flex-container' >

        <%=anythingWeWant[i].text %>
          <div class ='flex-item-image' >
            <%=anythingWeWant[i].id %>
                        <img class ='flex-item' src= '<%=anythingWeWant[i].dataValues.photoPath %>' >
                        <div>
                            <form>
                              <textarea name='postcomment' placeholder="type message here" required></textarea>
                              <a href="./home">
                                <img src="../icons/like.png" height="25px" width="25px">
                              </a>
                              <input id="comment" value='comment' type="submit">
                            </form>
                        </div>
        <% }; %>

          </div>
    </div>




  </body>
  <footer>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"/>
    <div class="navbar">
      <div class="container"><a href="./home"><img src="../icons/home.png" height="50px" width="50px"/></a><a href="./post"><img src="../icons/add.png" height="50px" width="50px"/></a><a href="./profile"><img src="../icons/profile.png" height="50px" width="50px"/></a></div>
    </div>
  </footer>
</html>
