//- home-page

html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title ePIC Home Page
		link(rel='stylesheet', type='text/css', href='/public/style.css')
		link(rel='stylesheet', type='text/css', href='/public/home.css')
		//- script(type='text/javascript', src='/server.js')
	body
		span#logo
			img(src="./icons/logo.png", height='200px', width='200px')
			div#profile
				img(src="./photos/sawsry.jpg", height='300px', width='300px' )
				div.flex-container-image
					ul
						each postArray in anythingWeWant
							div(class= "flex-container")
								div(class= "flex-item-image")
									postArray.flex-item-image(src='postArray.photoPath')
										ul=[postArray.text]
										img(class= 'flex-item', src=postArray.photoPath)
									div
										textarea(for="comment") Add Comment Here
										input#comment(type="submit", comment="text")
										button(#like)
											input(type="submit", value="like")
				

							

							//- h4
							//- li= [newStuff]
				//- img.flex-item(src="./photos/alley.jpg")
				//- img.flex-item(src="./photos/bridge.jpg")
				//- img.flex-item(src="./photos/camino.jpg")
				//- img.flex-item(src="./photos/cappadocia.jpg")
				//- img.flex-item(src="./photos/florencedoor.jpg")
				//- img.flex-item(src="./photos/kalymnos.jpg")
		
				
		


include partials/footer.pug
//- script(type="text/javascript", src="server.js")
