//- home-page

html(lang="en")
	head
		meta(charset="UTF-8")
		title ePIC
	body
		h1#logo ePIC

		div 
			form(action="", method="POST")
				img(src="./icons/profile.png")
				label(for="comment") Comment
					input#comment(type="submit", comment="text")
				button(#like)
					input(type="submit", value="like")
		div 
			navbar(class= "button")
        
				a(href='home-page') 
					div
						#home.icons
				
				a(href='profile-page') 
					div
						#profile.icons
				
				a(href='post-page') 
					div
						#add.icons


script(type="text/javascript", src="server.js")





//- THIS IS TO TEST IF GIT WORKS

include partials/footer.pug
