//- login page

	 
 !DOCTYPE html>

html(lang="en")
  head
    meta(charset="UTF-8")
    title ePIC
  body
    h1#logo ePIC


    form(action="", method="POST")

      label(for="email") Email
      input#email(type="text", email="email")

      label(for="password") Password
      input#password(type="password")

      input(type="submit", value="Login")

      a(href='signup') New User
  			
script(type="text/javascript", src="server.js")
