//- login page

	 
 !DOCTYPE html>

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ePIC Login Page
    link(rel='stylesheet', type='text/css', href='/public/style.css')
    link(rel='stylesheet', type='text/css', href='/public/home.css')


  body
    h1#logo
      img(src="../icons/logo.png", height='100px', width='100px') 


    form(action="/login", method="POST")
      div
      label(for="email") Email
      input#email(type="text", name="email")
      div
      label(for="password") Password
      input#password(type="password")
      div
      input(type="submit", value="Login")
      div

      a(href='/home') New User

//- script(type="text/javascript", src="server.js")
