//- login page

     
 !DOCTYPE html>
html(lang="en")
head
meta(charset="UTF-8")
title ePIC
body
h1#logo ePIC


form(action="", method="POST")

br
label(for="email") Email
input#email(type="text", email="email")
br
label(for="password") Password
input#password(type="password")
br
input(type="submit", value="Login")
br
a(href='signup') New User
br
script(type="text/javascript", src="server.js")
