//- login page

	 
 !DOCTYPE html>

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ePIC Login Page
    //- link(rel='stylesheet', type='text/css', href='style.css')
    link(rel='stylesheet', type='text/css', href='/public/home.css')
    script(type='text/javascript', src='/server.js')

  body
    h1#logo
      img(src="./icons/logo.png", height='100px', width='100px') 


    form(action="", method="POST")
      div
      label(for="email") Email
      input#email(type="text", email="email")
      div
      label(for="password") Password
      input#password(type="password")
      div
      input(type="submit", value="Login")
      div
      a(href='signup') New User
  			
//- script(type="text/javascript", src="server.js")
