//- post-page
html(lang="en")
	head
		meta(charset="UTF-8")
		title ePIC
	body
		h1#logo ePIC


	form(action="", method="POST")
    
		input#fileupload(type="file", name="fileupload", value="fileupload")
		label(for="fileupload")  Upload to ePIC 
    
		label(for="comment") Comment
		input#comment(type="text", comment="text")
		input(type="submit", value="Post")
		
	div 
	navbar(class= "button")

	a(href='home-page') 
		div
			#home.icons

	a(href='profile-page') 
		div
			#profile.icons
	a(href='post-page') 
		div
			#add.icons


include partials/footer.pug

script(type="text/javascript", src="server.js")

			