//- post-page
html(lang="en")
	head
		meta(charset="UTF-8")
		title ePIC
	body
		h1#logo ePIC


		form(action="", method="POST")

			br
				input#fileupload(type="file", name="fileupload", value="fileupload")
				label(for="fileupload")  Select a file to upload
				input(type="submit", value="submit")
			br
				label(for="comment") Comment
				input#comment(type="submit", comment="text")
			br
				input(type="submit", value="Post")
			br
	div 
			navbar(class= "button")
				button(#home-page)
					a(href='home-page') 
						div
							#home.icons
				button(#profile-page)
					a(href='profile-page') 
						div
							#profile.icons
				button(#add-pic)
					a(href='post-page') 
						div
							#add.icons



		script(type="text/javascript", src="server.js")

			