//- post-page
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title ePIC
		link(rel='stylesheet', type='text/css', href='style.css')
		link(rel='stylesheet', type='text/css', href='home.css')
		script(type='text/javascript', src='./post.js')
	body
		h1#logo
			img(src="./icons/logo.png", height='100px', width='100px') 


	form(action="", method="POST")
		
		label(for="fileupload") Upload to ePIC 
		input#fileupload(type="file", name="fileupload", value="fileupload")
		div
		input(type="submit", value="POST")
		div
		label(for="comment") Comment
		input#comment(type="text", comment="text")
		input(type="submit", value="Post")
		
	


include partials/footer.pug

//- script(type="text/javascript", src ="server.js")

			