//- post-page
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title ePIC Post Page
		link(rel='stylesheet', type='text/css', href='/public/home.css')
	


	body
		h1#logo
			img(src="../icons/logo.png", height='100px', width='100px') 


	form(id="uploadForm" enctype="multipart/form-data" , method="post")
		label(for="fileupload") Upload to ePIC 
		input(type="file", name="fileupload")
		textarea(type="text" name='postmessage' cols="50" rows="5" placeholder="type message here" required)
		input(type="submit", value="Upload File", name="submit")
		//- div
		//- label(for="comment") Comment
		//- input#comment(type="text", comment="text")
		//- input(type="submit", value="Post")
		
	


include partials/footer.pug

//- script(type="text/javascript", src ="server.js")

			
