//- profile-page

html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title ePIC Profile Page
		link(rel='stylesheet', type='text/css', href='../public/home.css')
		//- /*script(type='text/javascript', src='/server.js')*/
	body
		h1#logo
			img(src="../icons/logo.png", height='100px', width='100px')
		form(id="profilephoto" enctype="multipart/form-data" , method="post")
			label(for="fileupload") Upload profile pic 
			input(type="file", name="uploadpictureForm")
			input(type="submit", value="Upload File", name="submit")

	div.flex-container
		ul
			each bioArray in weWantAnything
				div(class= "flex-container")
					bioArray.flex-item(src='bioArray.photoPath')
						ul=[bioArray.firstN]
						ul=[bioArray.lastN]
						ul=[bioArray.email]
						img(class= 'flex-item', src=bioArray.bioPath, alt='please upload image')
	div.flex-container
		ul
			each postArray in anythingWeWant
				div(class= "flex-container")
					postArray.flex-item(src='postArray.photoPath')
						img(class= 'flex-item', src=postArray.photoPath)

			//- h3 Your Photos
			//- .wrapper
			//- img(src="./icons/profile.png", width="400", height="auto")
			//- 
			//- 
	


include partials/footer.pug              

//- script(type="text/javascript", src="server.js")
