//- signup page


     
//- | !DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title ePIC Sign Up
    link(rel='stylesheet', type='text/css', href='style.css')
    link(rel='stylesheet', type='text/css', href='/public/home.css')
    //- script(type='text/javascript', src='/server.js')
  body
    h1#logo
      img(src="../icons/logo.png", height='100px', width='100px')


    form(action='', method='post')
      div
      label(for='email') Email: 
      input#email(type='text', name='email')
      div
      label(for='firstname') First Name: 
      input#username(type='text', name='firstname')
      div
      label(for='lastname') Last Name: 
      input#username(type='text', name='lastname')
      div
      label(for='password') Password: 
      input#password(type='text', name='password')
    
      button Login
      div
      a(href='login-page.pug') Already a User
    





script(type="text/javascript", src="server.js")
