//- signup page


     
//- | !DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title ePIC Sign Up
    link(rel='stylesheet', type='text/css', href='style.css')
    link(rel='stylesheet', type='text/css', href='/public/home.css')
    //- script(type='text/javascript', src='/server.js')
  body
    h1#logo
      img(src="../icons/logo.png", height='100px', width='100px')
<<<<<<< HEAD
=======

>>>>>>> 7080f64f9064bd0a68bb95cfef674c115c632f26

    
    form(action='', method='post')
      if errors
        ul.errors
          each error in errors
            div(class="alert alert-danger")= error.msg
      div
      label(for='email') Email: 
      input#email(type='text', name='email')
      div
      label(for='firstname') First Name: 
      input#username(type='text', name='firstname')
      div
      label(for='lastname') Last Name: 
      input#username(type='text', name='lastname')
      div
      label(for='password') Password: 
      input#password(type='text', name='password')
    
      button Register
      div
      a(href='/login') Already a User
    





script(type="text/javascript", src="server.js")
