//- signup page


     
//- | !DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title ePIC Sign Up
    link(rel='stylesheet', type='text/css', href='/public/style.css')
    link(rel='stylesheet', type='text/css', href='/public/home.css')

  body
    h1#logo
      img(src="../icons/logo.png", height='100px', width='100px')


    
    form(action='', method='post')
      if errors
        ul.errors
          each error in errors
            div(class="alert alert-danger")= error.msg
      div
      label(for='email') Email: 
      input#email(type='text', name='email' required)
      div
      label(for='firstname') First Name: 
      input#username(type='text', name='firstname' required)
      div
      label(for='lastname') Last Name: 
      input#username(type='text', name='lastname' required)
      div
      label(for='password') Password: 
      input#password(type='password', name='password' required)
      div
      button Register
      div
      a(href='/login') Already a User
    
