//- signup page


     
//- | !DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title ePIC
  body
    h1#logo ePIC


    form(action='', method='post')
      
      label(for='email') Email: 
      input#email(type='text', name='email')
    
      label(for='firstname') First Name: 
      input#username(type='text', name='firstname')
    
      label(for='lastname') Last Name: 
      input#username(type='text', name='lastname')
    
      label(for='password') Password: 
      input#password(type='text', name='password')
    
      a(href='login-page.pug') Already a User
    
      button Login





script(type="text/javascript", src="server.js")
