/*home.css*/
body {
	background-color: #66ccff;
}

/*#icons.logo {
	width: 100%;
    height: auto;
    float: left;
    font-family: courier;
    background-repeat: no-repeat;
    background-size: 40px 40px
}*/
