/*home.css*/

body {
	height: 100%;
	margin: 0 !important;
    text-align: center;
    background-color: #005780;
}
#logo {
	float: left;
}
#profile{
	margin-right: 20%;
}


.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.flex-item {
    background-color: cornflowerblue;
    width: 100%;
    height: auto;
    margin: 10px;
}

.navbar {
    overflow: hidden;
    background-color: #e6f7ff;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.navbar a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    left: 50%;

}

footer,
.push{
	height: 50px;
	margin-top: -50px 
}
