/*home.css*/

body {
	height: 100%;
	margin: 0 !important;
    text-align: center;
    background-color: #005780;
}


#logo {
	margin-right: 50%;
}
#profile{
	margin-right: 0%;
}


.flex-container-image {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.flex-item-image {
   /* background-color: cornflowerblue;*/
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.flex-item{
    width: 100%;
}

/*.flex-container-image-bottom{
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    
}

.flex-item-image-bottom {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15%;
}*/

.navbar {
    overflow: hidden;
    background-color: #e6f7ff;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    margin-top: 10px;
}

.navbar a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    left: 50%;
    margin-top: 10px;
}

footer,
.push{
	height: 50px;
	margin-top: -50px 
}
